@model Tuple<GreenHealth.ViewModels.UserViewModel, GreenHealth.Models.Patient, GreenHealth.Models.Appointment>;

@{
    ViewBag.Title = "My profile";
    var aa = Model;
     Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Welcome @Model.Item1.ClientId </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="x_title">
                    <h2>Profile </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("Edit","Account", new{id =Model.Item1.Id})" class="btn-link"><i class="fa fa-edit m-right-xs"></i>Edit</a>

                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" src="~/Content/images/user.png" alt="Avatar" title="Change the avatar">
                            </div>
                        </div>
                        <h3>@Model.Item2.Name</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <i class="fa fa-briefcase user-profile-icon"></i>
                            </li>
                            <li>
                                <i class="fa fa-map-marker user-profile-icon"></i> @Model.Item2.Address
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> @Model.Item2.Phone
                            </li>
                            <li><i class="fa fa-inbox"></i>@Model.Item2.Sex</li>

                        </ul>
                        <!-- start skills -->
                        
                        <!-- end of skills -->
                        @*<a href="@Url.Action("Edit","Account", new { id = Model.Item1.Id})"><i class="fa fa-pencil-square"></i></a>*@
                        


                        
                        @*@Model.Item3.StartDateTime*@

                        
                    </div>
                </div>
            </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable();
        });
    </script>
}
