@model IEnumerable<GreenHealth.Models.Doctor>
@using Microsoft.AspNetCore.Identity
@using GreenHealth.Models

@{

    ViewBag.Title = "Index";
}
<div class="page-title">
    <div class="title_left">
        <h3>Doctors</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">

                @if (User.IsInRole(RoleName.AdministratorRoleName))
                {
                    <ul>
                    <li><a href="@Url.Action("RegisterDoctor", "Account")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></li></ul>
                }

                @foreach (var doctor in Model)
                {
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("Edit","Doctors", new{id = doctor.PhysicianId})" class="btn-link"><i class="fa fa-edit m-right-xs"></i>Edit</a>

                        </li>
                    </ul>

                    <div class="clearfix"></div>
                
            
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="~/Content/images/user.png" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>
                    <h3>@doctor.Name</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> @doctor.Specialization.Name
                        </li>
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> @doctor.Address
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                        </li>
                        <li><i class="fa fa-inbox"></i>@doctor.Physician.Email</li>

                    </ul>
                    <!-- start skills -->
                    @if (doctor.IsAvailable == true)
                    {
                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Available</a>
                    }
                    else
                    {
                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>Closed</a>
                    }
                    @if (doctor.Physician.IsActive == true)
                    {
                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Active</a>
                    }
                    else
                    {
                        <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>locked</a>
                    }
                    <table>
                        <tr class="">
                            @if (!User.IsInRole(RoleName.DoctorRoleName))
                            {
                            <td class=""><a class="btn btn-primary btn-sm" href="@Url.Action("BookDoctor", "Appointments", new { Id = doctor.Id })">Book</a></td>
                            }
                            <td class=""><a href="@Url.Action("ProfileForDoctor", "Doctors", new {Id = doctor.Id })" class="btn btn-info btn-sm">View</a></td>
                        </tr>
                    </table>
                    <!-- end of skills -->
                </div>
              }
                    
            </div>
  
   </div>
   </div>
   </div>
  




@section scripts{
    <script>
        $(document).ready(function () {
            $("#doctors").DataTable();
        });
    </script>
}